*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Public Sans", sans-serif;
  color: hsl(233 8% 62%);
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-weight: 300;
  color: hsl(233 26% 24%);
  margin-bottom: 1.5rem;
  line-height: 1;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.1rem;
}

p {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 4.6rem;
  }

  h2 {
    font-size: 3.3rem;
  }

  h3 {
    font-size: 2.3rem;
  }
}

/* Buttons */
.btn {
  border: 0;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  text-align: center;
  white-space: nowrap;
  text-transform: capitalize;
}

.btn--primary {
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  color: #fff;
}

.btn--primary:hover {
  background: linear-gradient(to right, hsl(136, 65%, 75%), hsl(192, 70%, 75%));
}

/* Articles */
.article {
  box-shadow: 0 0 25px 5px hsl(0, 0%, 98%);
  max-width: 55rem;
  margin: 0 auto;
  border-radius: 1rem;
  overflow: hidden;
}

.article__heading {
  cursor: pointer;
  transition: color 0.3s;
}

.article__heading:hover {
  color: hsl(136, 65%, 55%);
}

.article__body {
  padding: 3rem;
}

.article__image {
  width: 100%;
}

.article__writer {
  font-size: 1.4rem;
}

/* Links */
a {
  text-decoration: none;
}

/* Icons */
.icon {
  width: 7rem;
  height: 7rem;
}

.icon--small {
  width: 3rem;
  height: 3rem;
}

.icon-container {
  width: 7rem;
  height: 7rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: linear-gradient(135deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}
