<section class="block block--dark">
  <div class="container block-footer">
    <div class="block-footer__header">
      <img src="images/logo-footer.svg" alt="" class="block-footer__image" />
      <div class="block-footer__icons">
        <svg class="icon icon--small">
          <use href="images/sprite.svg#icon-facebook"></use>
        </svg>
        <svg class="icon icon--small">
          <use href="images/sprite.svg#icon-youtube"></use>
        </svg>
        <svg class="icon icon--small">
          <use href="images/sprite.svg#icon-twitter"></use>
        </svg>
        <svg class="icon icon--small">
          <use href="images/sprite.svg#icon-pinterest"></use>
        </svg>
        <svg class="icon icon--small">
          <use href="images/sprite.svg#icon-instagram"></use>
        </svg>
      </div>
    </div>
    <ul class="list block-footer__list">
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">blog</a></li>
    </ul>
    <ul class="list block-footer__list">
      <li><a href="#">careers</a></li>
      <li><a href="#">Support</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
    <div class="block-footer__footer">
      <button class="btn btn--primary block-footer__button">
        request invite
      </button>
      <p class="copyright">&copy; Easybank. All Rights reserved</p>
    </div>
  </div>
</section>
