<section class="hero">
  <div class="container grid grid--1x2">
    <div class="block hero__content">
      <h1>Next generation digital banking</h1>
      <p class="hero__text">
        Take your financial life online. Your Easybank account will be a
        one-stop-shop for spending, saving, budgeting, investing, and much more.
      </p>
      <button class="btn btn--primary">Request Invite</button>
    </div>
    <img class="hero__image" src="images/image-mockups.png" alt="" />
  </div>
</section>
