<nav class="container nav">
  <div class="nav__header">
    <a class="nav__logo" href="/"><img src="images/logo.svg" alt="" /></a>
    <div class="nav__icons">
      <svg class="icon icon--small nav__icon">
        <use href="images/sprite.svg#icon-hamburger"></use>
      </svg>
      <svg class="icon icon--small nav__icon">
        <use href="images/sprite.svg#icon-close"></use>
      </svg>
    </div>
  </div>
  <ul class="list nav__list">
    <li class="nav__item"><a href="#">home</a></li>
    <li class="nav__item"><a href="#">about</a></li>
    <li class="nav__item"><a href="#">contact</a></li>
    <li class="nav__item"><a href="#">blog</a></li>
    <li class="nav__item"><a href="#">careers</a></li>
  </ul>
  <button class="btn btn--primary nav__button">Request Invite</button>
</nav>
